<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <i class="fa-solid fa-school fa-lg pb-3 pe-2"
        style="color: #ffffff;"></i>
        </div>
        <p class="footer-text">
          Model HighSchool<br>
          Address: 123 School St, City, State ZIP<br>
          Phone: (123) 456-7890<br>
          Email: info@modelschool.com
        </p>
      </div>
      <div class="col-md-4">
        <div class="quick-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a routerLink="">Home</a></li>
            <li><a>About Us</a></li>
            <li><a >Academics</a></li>
            <li><a >Admissions</a></li>
            <li><a>Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="social-icons">
          <h4>Follow Us</h4>
          <a href="#"><i class="fab fa-facebook pe-2"></i></a>
          <a href="#"><i class="fab fa-twitter pe-2"></i></a>
          <a href="#"><i class="fab fa-instagram  pe-2"></i></a>
          <a href="#"><i class="fab fa-linkedin  pe-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

