<div class="container">
    <div class="col-md-8">
        <h1 class="text-center mt-3">Manage Subjects </h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Subject</li>
          </ol>
        </nav>
<div class="table-responsive-sm mt-3">
          <table class="table table-dark table-striped-columns">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Code</th>
                  <th scope="col">Name</th>
                  <th scope="col">date</th>
                  <th scope="col">Actions</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of subjectdata,let j=index">
                  <th scope="row">{{j+1}}</th>
                  <td>{{i.code}}</td>
                  <td>{{i.name}}</td>
                  <td>{{i.date}}</td>
                  <td (click)="edit(i._id)"><i class="fa-solid fa-pen fa-lg" style="color: #12af1d;"></i></td>
                  <td (click)="delete(i._id)"><i class="fa-solid fa-trash fa-lg" style="color: #f20707;"></i></td>
                </tr>
  
              </tbody>
            </table>
</div>

    </div>

</div>