.head{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.button1{
    background-color: blueviolet;
    color: white;
    border: none;
    width: 80px;
    height: 35px;
    margin-right: 5px;
    transition: .5s ease-in;
    margin-bottom: 2px;


}
.button2{
    background-color: blueviolet;
    color: white;
    border: none;
    width: 80px;
    height: 35px;
    margin-right: 5px;
    transition: .5s ease-in;
    margin-bottom: 2px;


}
.button3{
    background-color: blueviolet;
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    margin-right: 5px;
    transition: .5s ease-in;
    margin-bottom: 2px;


}
.button4{
    background-color: blueviolet;
    color: white;
    border: none;
    width: 200px;
    height: 35px;
    margin-right: 5px;
    transition: .5s ease-in;
    margin-bottom: 2px;

}
.button4:hover,.button1:hover,.button2:hover,.button3:hover{
    background-color: rgb(174, 106, 238);
    transform: scale(1.05);

}
