<div class="container">
    <div class="mt-2">
        <h1 class="mb-2">Manage Admin</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">Manage Admin</li>
            </ol>
          </nav>
    </div>
    <div class="m-5 col-sm-7">
        <form  class="d-flex flex-column"  (ngSubmit)="update()" action="" [formGroup]="adminForm">
            <label for="">New User Name</label>
            <input class="mb-2" [ngModel]="adminData.uname" type="text" [ngModelOptions]="{standalone: true}">
            <Label>Old Password</Label>
            <input class="mb-2" formControlName="opsw" type="password" name="psw" id="psw">
            <label for="">New Password</label>
            <input class="mb-2" formControlName="psw" type="password" name="cpsw" id="cpsw">
            <label for="">Confirm New Password</label>
            <input class="mb-3" formControlName="cpsw"  type="password" name="ncpsw" id="ncpsw">
            <button  class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>