.contain{
    background-image: url("https://i.postimg.cc/fLdgL4PS/wallpaperflare-com-wallpaper-8.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}
  .main-head{
    padding-top: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size:70px;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
   
  }
  .ex{
    
    
    background-color: rgba(20, 22, 138, 0.774);
    margin: 10px;
    padding: 20px;

  }
  .topic{
    padding-top: 150px;
  }
  .head1{
    color: white;
  }
  .test{
    margin-top: 50px;
    margin: 20px;

  }
  .head2{
    text-align: center;
    color: brown;
    font-weight: bolder;
    margin-bottom: 20px;
    
  }
  .tag{
    padding-right: 20px;
  }
.contain2{

  background-image: url("https://i.postimg.cc/L8hVvvQz/pexels-max-fischer-5212703.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1000px rgba(33, 134, 216, 0.719);
  width: 80%;
}
.data{
  color: white;

  padding: 50px;
 


}
.contain3{
 
  padding: 30px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contain5{
 width: 100%;
 padding: 40px;
  margin-top: 10px;
  background-color: rgb(22, 132, 184);
}
.contain4{
  padding: 30px;
  width: 100%;
}
.point{
  padding: 30px;
  margin: 30px;
  background-color: rgb(216, 208, 198);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out;
}
.point:hover{
  transform: scale(1.02);
}
p{
  font-family: 'Sometype Mono', monospace;
}
h2{
  font-family: 'Oswald', sans-serif;
}
@media only screen and (max-width: 600px) {
 .main-head {
    font-size:xx-large;
  }
}